<ul>
<li>Sofwares</li><p>Ansys( Fluent, CFX, Static-structural, Rigid Body Dynamics), Matlab, Comsol, Convergence</p>
<li>languages</li><p> Python - Advanced( applied Machine Learning and Deep Learning), C( used for creating custom UDF of Fluent), C++(used while i was practicing Coding Challenges) </p>
<li>College Level Positions</li><p>Leadership - Overall Club Coordinator(RuTAG), Technical - junior Engineer (Axlr8r Formula Racing), Sports - Acquatics Captain (Udaigiri House, IIT Delhi), Enterpreneurship - RJ-Tech(https://consultrjtech.tk/)</p>
</ul>