<ul>
<li>Sofwares</li><p>Ansys( Fluent, CFX, Static-structural, Rigid Body Dynamics), Matlab, Comsol, Convergence</p>
<li>languages</li><p> Python - Advanced( applied Machine Learning and Deep Learning), C( used for creating custom UDF of Fluent), C++(used while i was practicing Coding Challenges) </p>
<li>College Level Positions</li><p>Leadership - Overall Club Coordinator(RuTAG), Technical - junior Engineer (Axlr8r Formula Racing), Sports - Acquatics Captain (Udaigiri House, IIT Delhi), Enterpreneurship - RJ-Tech(https://consultrjtech.tk/)</p>
<li>Web & App Development</li><p>Python based Dynamic Websites, Highly responsive websites as per requirements, End-to-End Management from Web-Development to server side handling, Android and IOS app Development using Flutter</p>
<li>Data Science & Machine Learning</li><p>Implemented several Machine Learning Algorithms from scratch in Python, Familiar with Python Libraries such as Multiplrocessing, Pandas. Spark, Kafka, Hadoop and many others</p>
<li>Cyber Security</li><p>Relatively Beginner in this huge field - Learning several penetration testing tools such as Burpsuite, Metasploit, Wireshark, considerable knowledge for using nmap scans and information gathering using port scans</p>
</ul>